<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.m0ksem.tests">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        android:fullBackupContent="true">
        <activity
            android:name="com.m0ksem.tests.login.LoginActivity"
            android:fitsSystemWindows="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.m0ksem.tests.testList.TestsListActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.m0ksem.tests.testView.TestViewActivity" />
        <activity
            android:name="com.m0ksem.tests.testCreate.TestCreateActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.m0ksem.tests.testCreate.SetTypeActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.m0ksem.tests.testCreate.SetQuestionsActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.m0ksem.tests.testCreate.SetTagsActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.m0ksem.tests.testCreate.SetResultsActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.m0ksem.tests.results.OneStringResultActivity" />
        <activity android:name="com.m0ksem.tests.results.ManyStringResultActivity" />
    </application>

</manifest>