<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.m0ksem.imprtest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".TestList.TestsList"
            android:windowSoftInputMode="adjustResize"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".TestView.TestViewActivity" />
        <activity android:name=".TestCreate.TestCreate"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".TestCreate.ChooseType.ChooseType"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".TestCreate.SetQuestions.SetQuestions"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".TestCreate.ChooseTags.ChooseTags"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".TestCreate.SetResults.SetResults"
            android:windowSoftInputMode="adjustResize"/>
    </application>

</manifest>